main {
    .hero {
        //height: 700px;
        padding: 10rem 0;
        h1 {
            margin-bottom: 2rem;
        }
        p {
            width: 34%;
            margin-bottom: 2rem;
        }
        .hero-img {
            position: absolute;
            width: 885px;
            height: 468px;
            left: 603px;
            top: 333px;
            background: url('assets/image1.png');
            background-size: 90%;
            background-repeat: no-repeat;
        }
    }
    .highlight {
        padding-top: 7rem;
        padding-bottom: 5rem;
        margin-top: 3rem;
        margin-bottom: 5rem;

        p {
            margin-top: 2rem;
            width: 85%;
        }
        .highlight-img {
            position: absolute;
            width: 477px;
            height: 504px;
            left: 251px;
            top: 935px;
            background: url('assets/image2.png');
            background-size: 80%;
            background-repeat: no-repeat;
        }
        .rect {
            position: absolute;
            width: 1117px;
            height: 560px;
            left: 240px;
            top: 903.18px;

            background: rgba(240, 99, 184, 0.15);
            border-radius: 50px;
        }
    }
    .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h3 {
            margin-top: 10rem;
        }

        > p {
            text-align: center;
            width: 55%;
            margin-top: 2rem;
        }

        .search {
            .rect {
                position: absolute;
                width: 442px;
                height: 358px;
                left: 328.29px;
                top: 1873px;

                /* 5 */

                background: #68C9BA;
                opacity: 0.1;
                border-radius: 50px;
            }
        }
        .access {
            .rect {
                position: absolute;
                width: 442px;
                height: 358px;
                left: 915.28px;
                top: 1873px;

                /* 3 */

                background: #9C69E2;
                opacity: 0.1;
                border-radius: 20px;
            }
        }
        .print {
            .rect {
                position: absolute;
                width: 442px;
                height: 358px;
                left: 328.29px;
                top: 2281px;

                /* 4 */

                background: #F063B8;
                opacity: 0.1;
                border-radius: 50px;
            }
        }
        .security {
            .rect {
                position: absolute;
                width: 442px;
                height: 358px;
                left: 915.28px;
                top: 2281px;

                /* Blue 2 */

                background: #2D9CDB;
                opacity: 0.1;
                border-radius: 20px;
            }
        }
    }
}