main {
    .hero {
        //height: 700px;
        padding: 10rem 0;
        h1 {
            margin-bottom: 2rem;
        }
        p {
            width: 34%;
            margin-bottom: 2rem;
        }
        .hero-img {
            position: absolute;
            width: 885px;
            height: 468px;
            left: 603px;
            top: 333px;
            background: url('assets/image1.png');
            background-size: 90%;
            background-repeat: no-repeat;
        }
    }
    .highlight {
        background: rgba(240, 99, 184, 0.15);
        border-radius: 50px;
        padding-top: 7rem;
        padding-bottom: 4rem;
        margin-top: 3rem;
        margin-bottom: 6rem;

        p {
            margin-top: 2rem;
            width: 85%;
        }
        .highlight-img {
            position: absolute;
            width: 477px;
            height: 504px;
            left: 251px;
            top: 935px;
            background: url('assets/image2.png');
            background-size: 80%;
            background-repeat: no-repeat;
        }
    }
}