.menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    @include size-at('medium') {
        flex-direction: row;
    }

    li a {
       display: block;
       padding: 1rem 0.5rem; 
    }

    .toggle {
        order: 1;
        font-style: normal;
        a {
            text-decoration: none;
        }
        @include size-at('medium') {
            display: none;
        }
    }

    .menu-item {
        order: 2;
        width: 100%;
        text-align: center;
        display: none;
        @include size-at('medium') {
            display: block;
        }
    }
}

.menu.show {
    .menu-item {
        display: block;
    }
}

.menu-btn {
    display: none;
    @include size-at('medium') {
        display: block;
    }
}