/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.mobile-only {
  display: block;
}
@media (min-width: 1200px) {
  .mobile-only {
    display: none !important;
  }
}

.large-only {
  display: none;
}
@media (min-width: 1200px) {
  .large-only {
    display: block;
  }
}

.split {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media (min-width: 1200px) {
  .split {
    flex-direction: row;
  }
}
.split .left, .split .right {
  flex-grow: 1;
  width: 100%;
}
@media (min-width: 1200px) {
  .split .left, .split .right {
    width: 50%;
  }
}

.two-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(1, auto);
}
@media (min-width: 600px) {
  .two-grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
  }
}
.two-grid .split {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

main, footer, header {
  padding: 2rem;
}
@media (min-width: 1200px) {
  main, footer, header {
    padding: 0;
    width: 1120px;
    display: block;
    margin: 0 auto;
  }
}

p, a {
  font-family: "Avenir", "sans-serif";
  color: #4B5D68;
  font-weight: 500;
  font-size: 18px;
  line-height: 28.8px;
  text-decoration: none;
  transition: all 0.25s;
}

a:hover {
  font-weight: 800;
}

h1, h2, h3, .h3, h4, h5, h6 {
  font-family: "Helvetica", "sans-serif";
  color: #212353;
}

h1 {
  font-size: 64px;
  line-height: 70px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 80px;
    line-height: 88px;
  }
}

h2, h3, h5, h6, .h3 {
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
}
@media (min-width: 1200px) {
  h2, h3, h5, h6, .h3 {
    font-size: 40px;
    line-height: 52px;
  }
}

h4 {
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 400;
}

nav a {
  font-size: 16px;
  line-height: 25.6px;
  color: #4B5D68;
}
nav a:hover {
  color: #212353;
  font-weight: 800;
}

.menu .btn, button,
a.btn, .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  color: #212353;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  cursor: pointer;
  font-family: "Avenir", "sans-serif";
  font-size: 1rem;
  font-weight: 800;
  line-height: 25.6px;
  border-radius: 50px;
  height: 60px;
  padding: 0 3rem;
  text-align: center;
  line-height: 4rem;
  transition: all 0.25s;
}
.menu .btn:hover, button:hover,
a.btn:hover, .btn:hover {
  background-color: #f1e9fb;
  border-color: #6625c0;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.2);
  font-weight: 800;
}
.menu .btn:active, button:active,
a.btn:active, .btn:active {
  background-color: #cccccc;
  border-color: #b3b3b3;
}
.menu .btn.btn-arrow img:nth-child(1), button.btn-arrow img:nth-child(1),
a.btn.btn-arrow img:nth-child(1), .btn.btn-arrow img:nth-child(1) {
  margin-left: 1rem;
}
.menu .btn.btn-arrow img:nth-child(2), button.btn-arrow img:nth-child(2),
a.btn.btn-arrow img:nth-child(2), .btn.btn-arrow img:nth-child(2) {
  margin-left: -0.4rem;
}
.menu .btn.btn-purple, button.btn-purple,
a.btn.btn-purple, .btn.btn-purple {
  color: #fff;
  background-color: #9C69E2;
  border-color: #7229d5;
}
.menu .btn.btn-purple:hover, button.btn-purple:hover,
a.btn.btn-purple:hover, .btn.btn-purple:hover {
  background-color: #803eda;
  border-color: #6625c0;
}
.menu .btn.btn-pink, button.btn-pink,
a.btn.btn-pink, .btn.btn-pink {
  color: #fff;
  background-color: #F063B8;
  border-color: #e91d98;
}
.menu .btn.btn-pink:hover, button.btn-pink:hover,
a.btn.btn-pink:hover, .btn.btn-pink:hover {
  background-color: #ec34a3;
  border-color: #d8158b;
}

.link-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  line-height: 25.6px;
  font-weight: 800;
}
.link-arrow img:nth-child(1) {
  margin-left: 1rem;
}
.link-arrow img:nth-child(2) {
  margin-left: -0.3rem;
}

.quote-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 17rem;
  font-family: "Avenir", "sans-serif";
  background-color: #fff;
  box-shadow: 0px 20px 0px #8a56da;
  border-radius: 20px;
  padding-top: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
}
@media (min-width: 600px) {
  .quote-card {
    height: 15rem;
    padding-top: 4rem;
  }
}
@media (min-width: 1200px) {
  .quote-card {
    flex-direction: row;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.quote-card img {
  border-radius: 50px;
  margin-right: 3rem;
  width: 90px;
  height: 90px;
}
.quote-card .card-title {
  font-size: 18px;
  line-height: 28.8px;
  font-weight: 800;
  letter-spacing: 0.5%;
}
.quote-card span {
  display: inline-block;
  font-size: 14px;
  line-height: 22.4px;
  color: #9C69E2;
  font-weight: 500;
  letter-spacing: 1%;
  margin-bottom: 1rem;
}
.quote-card p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32.4px;
  max-height: 7rem;
  overflow: scroll;
}
@media (min-width: 1200px) {
  .quote-card p {
    max-height: auto;
  }
}

.logo {
  position: relative;
}
.logo .purple-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 74px;
  background: #9C69E2;
  border-radius: 20px;
}
.logo .pink-pill {
  position: absolute;
  width: 20px;
  height: 35px;
  left: 29px;
  top: 59px;
  background: #F063B8;
  border-radius: 20px;
}

.divider .divide {
  background: #9C69E2;
  opacity: 0.2;
  position: relative;
  width: 100%;
  height: 2px;
}
@media (min-width: 1200px) {
  .divider .divide {
    position: absolute;
    left: 0px;
    top: 3648px;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}
@media (min-width: 600px) {
  nav {
    padding-top: 3rem;
    align-self: flex-start;
    padding-right: 15rem;
    margin-left: 10rem;
  }
}
@media (min-width: 600px) {
  nav li {
    margin-right: 2rem;
  }
}
nav .btn {
  align-self: flex-end;
}

.menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  width: 100%;
}
@media (min-width: 1200px) {
  .menu {
    flex-direction: row;
  }
}
.menu li a {
  display: block;
  padding: 1rem 0.5rem;
}
.menu .toggle {
  order: 1;
  font-style: normal;
}
.menu .toggle a {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .menu .toggle {
    display: none;
  }
}
.menu .menu-item {
  order: 2;
  width: 100%;
  text-align: center;
  display: none;
}
@media (min-width: 1200px) {
  .menu .menu-item {
    display: block;
  }
}

.menu.show .menu-item {
  display: block;
}

.menu-btn {
  display: none;
}
@media (min-width: 600px) {
  .menu-btn {
    display: block;
  }
}

header a.btn {
  align-self: center;
  margin-top: 3rem;
}
@media (min-width: 600px) {
  header a.btn {
    width: 10rem;
  }
}

main .hero {
  position: relative;
  padding: 4rem 0;
  padding-bottom: 10rem;
  overflow: hidden;
}
@media (min-width: 1200px) {
  main .hero {
    padding: 10rem 0;
  }
}
main .hero h1 {
  margin-bottom: 2rem;
  max-width: 100%;
}
main .hero p {
  width: 100%;
  z-index: 3;
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  main .hero p {
    width: 34%;
  }
}
main .hero .btn {
  width: 7rem;
}
main .hero .hero-img {
  position: absolute;
  width: 885px;
  height: 468px;
  left: 30%;
  top: 77%;
  background: url("assets/image1.png");
  background-size: 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -1;
}
@media (min-width: 1200px) {
  main .hero .hero-img {
    left: 21rem;
    top: 16rem;
    background-size: 100%;
  }
}
main .highlight {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}
@media (min-width: 1200px) {
  main .highlight {
    margin-top: 3rem;
    padding-top: 7rem;
    padding-bottom: 5rem;
    padding-right: 0rem;
    padding-left: 0rem;
    background: none;
  }
}
main .highlight .right {
  padding: 1rem;
}
@media (min-width: 1200px) {
  main .highlight .right {
    padding: 0;
  }
}
main .highlight p {
  margin-top: 2rem;
  width: 100%;
}
@media (min-width: 1200px) {
  main .highlight p {
    width: 85%;
  }
}
main .highlight .highlight-img {
  display: none;
}
@media (min-width: 1200px) {
  main .highlight .highlight-img {
    display: block;
    position: absolute;
    width: 477px;
    height: 504px;
    left: 2rem;
    top: 1rem;
    background: url("assets/image2.png");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
main .highlight .rect {
  display: none;
}
@media (min-width: 1200px) {
  main .highlight .rect {
    display: block;
    position: absolute;
    width: 1117px;
    height: 560px;
    left: 0rem;
    top: 0rem;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
  }
}
main .features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .features h3, main .features h5, main .features h6 {
  margin-top: 2rem;
}
@media (min-width: 1200px) {
  main .features h3, main .features h5, main .features h6 {
    margin-top: 8rem;
  }
}
main .features > p {
  text-align: center;
  width: 55%;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
main .features .split .right {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  height: 17rem;
  padding: 2rem 0;
  padding-left: 1rem;
}
@media (min-width: 600px) {
  main .features .split .right {
    padding: 2rem;
  }
}
@media (min-width: 1200px) {
  main .features .split .right {
    padding: 0;
  }
}
main .features .split .right h4 {
  margin-bottom: 2rem;
}
main .features .split .right p {
  font-size: 1rem;
  line-height: 25.6px;
  font-weight: 400;
  width: 80%;
}
main .features .split .right a {
  position: absolute;
  bottom: 0;
  align-self: baseline;
}
main .features .search {
  position: relative;
  margin-bottom: 3rem;
  background: rgba(104, 201, 186, 0.1);
  border-radius: 20px;
  margin-right: 0rem;
}
@media (min-width: 600px) {
  main .features .search {
    margin-right: 1rem;
  }
}
@media (min-width: 1200px) {
  main .features .search {
    background: none;
    margin-right: 0;
  }
}
main .features .search .rect {
  display: none;
  position: absolute;
  width: 442px;
  height: 358px;
  left: 6rem;
  top: 0rem;
  background: url("assets/search.png");
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  main .features .search .rect {
    display: block;
  }
}
main .features .search .img {
  display: none;
  position: absolute;
  width: 232px;
  height: 211px;
  left: -1rem;
  top: 6rem;
  background: url("assets/image3.png");
}
@media (min-width: 1200px) {
  main .features .search .img {
    display: block;
  }
}
main .features .access {
  position: relative;
  background: rgba(156, 105, 226, 0.1);
  border-radius: 20px;
  margin-bottom: 3rem;
}
@media (min-width: 1200px) {
  main .features .access {
    background: none;
  }
}
main .features .access .rect {
  display: none;
  position: absolute;
  width: 442px;
  height: 358px;
  left: 6rem;
  top: 0rem;
  background: url("assets/access.png");
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  main .features .access .rect {
    display: block;
  }
}
main .features .access .img {
  display: none;
  position: absolute;
  width: 241px;
  height: 185px;
  left: -1rem;
  top: 6rem;
  background: url("assets/image4.png");
}
@media (min-width: 1200px) {
  main .features .access .img {
    display: block;
  }
}
main .features .print {
  position: relative;
  background: rgba(240, 99, 184, 0.1);
  border-radius: 20px;
  margin-right: 0rem;
  margin-bottom: 3rem;
}
@media (min-width: 600px) {
  main .features .print {
    margin-bottom: 0rem;
    margin-right: 1rem;
  }
}
@media (min-width: 1200px) {
  main .features .print {
    background: none;
    margin-right: 0;
  }
}
main .features .print .rect {
  display: none;
  position: absolute;
  width: 442px;
  height: 358px;
  left: 6rem;
  top: 0rem;
  background: url("assets/print.png");
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  main .features .print .rect {
    display: block;
  }
}
main .features .print .img {
  display: none;
  position: absolute;
  width: 245px;
  height: 181px;
  left: -1rem;
  top: 6rem;
  background: url("assets/image5.png");
}
@media (min-width: 1200px) {
  main .features .print .img {
    display: block;
  }
}
main .features .security {
  position: relative;
  background: rgba(45, 156, 219, 0.1);
  border-radius: 20px;
}
@media (min-width: 1200px) {
  main .features .security {
    background: none;
  }
}
main .features .security .rect {
  display: none;
  position: absolute;
  width: 442px;
  height: 358px;
  left: 6rem;
  top: 0rem;
  background: url("assets/security.png");
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  main .features .security .rect {
    display: block;
  }
}
main .features .security .img {
  display: none;
  position: absolute;
  width: 230px;
  height: 201px;
  left: -1rem;
  top: 6rem;
  background: url("assets/image6.png");
}
@media (min-width: 1200px) {
  main .features .security .img {
    display: block;
  }
}
main .testimonials {
  position: relative;
  margin-top: 9rem;
  padding-left: 2rem;
  height: 35rem;
  margin-bottom: 5rem;
  background: #9C69E2;
  border-radius: 50px;
}
@media (min-width: 1200px) {
  main .testimonials {
    background: none;
    padding-left: 6rem;
    height: 44rem;
    margin-bottom: 10rem;
  }
}
main .testimonials h5 {
  color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 1200px) {
  main .testimonials h5 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
main .testimonials .carosel {
  display: flex;
  margin-bottom: 4rem;
}
main .testimonials .carosel .quote-card {
  margin-right: 2rem;
  position: relative;
}
main .testimonials .carosel .quote-card .overlay {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 17rem;
  height: 25rem;
  background: linear-gradient(270deg, #9C69E2 9.75%, rgba(255, 255, 255, 0) 100%);
  z-index: 5;
}
main .testimonials .carosel .quote-card:nth-child(2) {
  display: none;
  width: 398px;
  height: 15rem;
  margin-right: 2px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #9C69E2;
  box-shadow: 0px 20px 0px #9763e0;
}
@media (min-width: 1200px) {
  main .testimonials .carosel .quote-card:nth-child(2) {
    display: block;
  }
}
main .testimonials .pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .testimonials .pagination .dots {
  display: flex;
  align-items: center;
}
main .testimonials .pagination .dots:hover {
  cursor: pointer;
}
main .testimonials .pagination .dots img {
  margin-right: 0.5rem;
}
main .testimonials .pagination .arrows {
  display: flex;
  align-items: center;
  margin-right: 4rem;
  position: relative;
}
main .testimonials .pagination .arrows:hover {
  cursor: pointer;
}
main .testimonials .pagination .arrows img:nth-child(2) {
  position: relative;
  margin-right: 0.5rem;
  right: 5px;
  top: 0px;
}
main .testimonials .pagination .arrows img:nth-child(3) {
  position: relative;
  right: -5px;
}
main .testimonials .rect {
  display: none;
  position: absolute;
  width: 1118px;
  height: 709px;
  left: 0px;
  top: 0px;
  z-index: -1;
  /* 4 */
  background: #9C69E2;
  border-radius: 50px;
}
@media (min-width: 1200px) {
  main .testimonials .rect {
    display: block;
  }
}

footer {
  font-family: "Avenir", "sans-serif";
}
footer .try {
  margin: 4rem 0;
  padding-top: 0rem;
}
@media (min-width: 1200px) {
  footer .try {
    padding-top: 5rem;
  }
}
footer .try .left h6 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 2rem;
}
footer .try .left p {
  font-size: 18px;
  line-height: 28.8px;
  font-weight: 500;
}
footer .try .right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 2rem;
}
@media (min-width: 1200px) {
  footer .try .right {
    flex-direction: row;
    margin-top: 0;
  }
}
footer .try .btn-pink {
  width: 7rem;
  margin-bottom: 2rem;
}
@media (min-width: 600px) {
  footer .try .btn-pink {
    margin-right: 2rem;
    margin-bottom: 0rem;
  }
}
footer .try .btn-arrow {
  width: 10rem;
}
footer h6 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 800;
}
footer .main-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0rem;
  margin-bottom: 5rem;
  flex-direction: column;
}
@media (min-width: 1200px) {
  footer .main-footer {
    flex-direction: row;
    margin-top: 8rem;
  }
}
footer .main-footer div:nth-child(1) {
  margin-bottom: 2rem;
}
@media (min-width: 1200px) {
  footer .main-footer div:nth-child(1) {
    margin-bottom: 0;
  }
}
footer .main-footer div:nth-child(1) h6 {
  margin-left: 4rem;
  margin-bottom: 5rem;
  padding-top: 4rem;
}
@media (min-width: 1200px) {
  footer .main-footer div:nth-child(1) h6 {
    padding: 0;
  }
}
footer .main-footer div:nth-child(1) .address {
  margin-bottom: 2rem;
}
footer .main-footer div:nth-child(1) .contact p {
  font-size: 1rem;
  line-height: 28.8px;
  font-weight: 400;
  letter-spacing: 1%;
}
footer .footer-links span, footer .footer-social span {
  display: inline-block;
  font-size: 1rem;
  line-height: 25.6px;
  font-weight: 900;
  margin-bottom: 1rem;
}
@media (min-width: 1200px) {
  footer .footer-links span, footer .footer-social span {
    margin-bottom: 4rem;
  }
}
footer .footer-links {
  display: flex;
  flex-direction: column;
}
footer .footer-links a {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 40px;
}
footer .footer-social > div {
  display: flex;
}
footer .footer-social > div a {
  margin-right: 1rem;
}
footer .footer-social .circle div {
  background: #212353;
  opacity: 0.1;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

/*# sourceMappingURL=style.css.map */
