$white: #fff;
$dark: #212353;
$color-pink: #F063B8;
$color-purple: #9C69E2;

$color-text-button: $dark;

$body-color: #4B5D68;

$card-shadow: #8a56da;

$font-header: 'Helvetica', 'sans-serif';
$font-body: 'Avenir', 'sans-serif';