$white: #fff;
$dark: #212353;
$color-pink: #F063B8;
$color-purple: #9C69E2;

$color-text-button: $dark;

$body-color: #4B5D68;

$card-shadow: #8a56da;

$font-url: 'https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono' !default;
$font-name: 'Droid Sans' !default;
$font-name-mono: 'Droid Sans Mono' !default;

$font-header: 'Helvetica', 'sans-serif';
$font-body: 'Avenir', 'sans-serif';